//Change the font of the profile description for mobile view
@media only screen and (max-width: 768px) {
    #name{
        font-size:26px;
    }
    
    #projects-title{
        font-size:26px;
    }
}

//Change the margin of the project card
@media only screen and (max-width: 768px) {
    .card{
        margin-top:6px;
    }
}