$primary: #34495e;
$secondary: #2980b9;
$white: #ecf0f1;
$light-grey: #ecf0f1;
$dark-grey: #95a5a6;
$light-black: #2d3436;


#article-welcome{
    background-color:$primary;
    color:$white;
    padding:8% 0;
}

#article-capstone{
    background-color:$secondary;
    color:$white;
    padding:2% 0;
}

footer{
    background-color: $primary;
    color:$white;
    padding:2% 0;
}