$primary: #34495e;
$secondary: #2980b9;
$green: #27ae60;
$red: #e74c3c;
$white: #ecf0f1;
$light-grey: #ecf0f1;
$dark-grey: #95a5a6;
$light-black: #2d3436;
$caption: #2c3e50;

$hover:0.15s;
$footer-icon: 48px;

@import 'font';

body{
    padding-top:54px;
}

#article-welcome{
    background-color:$primary;
    color:$white;
    padding:2% 0;
}

#article-skills{
    
    color:$white;
    padding:2% 0;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('img/bg_computer.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

#article-projects{
    background-color: $white;
    padding: 2% 0;
}

#article-contact{
    background-color: $white;
    padding: 2% 0;
}

#article-capstone{
    background-color:$secondary;
    color:$white;
    padding:2% 0;
    display:none;
}

#article-placement{
    background-color:$green;
    color:$white;
    padding:2% 0;
    display:none;
}


.figure-caption{
    color: $caption;
    transition:$hover;
}
#profileImage{
    animation-name: fadeIn;
    animation-duration: 1s;
}

a{
    color:$white;
}


footer{
    background-color: $primary;
    color:$white;
    padding:2% 0;
}
footer a{
   color:$white; 
}

footer i{
    font-size: $footer-icon;
    transition:$hover;
}
footer i:hover{
    transition:$hover;
    cursor:pointer;
    color:#bdc3c7;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}


/*project cards*/
#capstoneCard{
    background-color:$secondary;
    color:$white;
    cursor: pointer;
    transition:0.25s;
}

#capstoneCard:hover{
    background-color:transparent;
    color:$secondary;
    border-color:$secondary;
    cursor: pointer;
    transition:0.25s;
}

#placementCard{
    background-color:$green;
    color:$white;
    cursor: pointer;
    transition:0.25s;
}

#placementCard:hover{
    background-color:transparent;
    color:$green;
    border-color:$green;
    cursor: pointer;
    transition:0.25s;
}
#personalCard{
    background-color:$red;
    color:$white;
    cursor: pointer;
    transition:0.25s;
}
#personalCard:hover{
    background-color:transparent;
    color:$red;
    border-color:$red;
    cursor: pointer;
    transition:0.25s;
}

.centerImage{
    display:block;
    margin:auto;
    padding-top:0;
}